<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
  rel="stylesheet"
/>
  <body>











<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        Chat App
      </a>
      <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >

      

      <form class="input-group w-auto my-auto d-none d-sm-flex"  method="get" action="/search" >
        <div class="input-group">
          <div class="form-outline">
            <input name="search" type="search" id="form1" class="form-control" autocomplete="off" />
            <label class="form-label" for="form1">Search</label>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <!-- Left links -->
    </div>
    </div>
    <!-- Collapsible wrapper -->
      
    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      
      {{#if user}}
            <input type="text" id="socket_id" value="{{user._id}}" hidden>
        
        <a class="nav-link mx-3" href="/friends-requests"><i class="fas fa-users-gear" title="Friends and Requests"></i></a>
        <div class="dropdown">
          <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            onclick="notifyReadDisplayNone('notifications-count','notifications-dropdown' , '{{user._id}}')" 
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger" id="notifications-count"></span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
            id="notifications-dropdown"
          >

          </ul>
        </div>
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="/u/{{user.username}}">{{user.username}}</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="/accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      {{else}}
        <a href="/accounts/login" class="btn btn-outline-primary "><i class="fas fa-sign-in-alt fa-lg "></i><span class="px-2">Login</span></a>
        <span class="mx-2">or</span>
        <a href="/accounts/register" class="btn btn-primary "><i class="fas fa-user-plus fa-lg "></i><span class="px-2">Register</span></a>
            
      {{/if }}
      <!-- Notifications -->
      

    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->













    {{{body}}}
    <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/sockets/init.js"></script>
  </body>
</html>