{{!-- <div class="container-fluid" style="height: calc(100vh - 77px)">
    <div class="row " style="height: inherit">
        <div class="p-0 over-flow-y-hidden col-md-2 d-none  d-md-flex ">
            <div class="d-block p-1 w-100">
                <div class="h2 text-center">
                    chats
                </div>
                {{#each chats as |chat|}}
                    <a href="/chat/{{chat._id}}" class="td-none d-block mx-auto rounded h-fit-content w-100 over-flow-y-auto border-black p-3 hover-grey cursor-pointer">
                        <div class="float-left">
                            <img src="https://github.com/mdo.png" alt="" width="44" height="44" class="rounded-circle me-3 d-block">
                            <div class="active-circle-small"></div>
                        </div>
                        <div class="">
                            <div class="h5 mb-0 p-0">
                                {{chat.name}}
                            </div>
                            
                            <span class="text-end text-muted font-size-small">
                                . jun-2
                            </span>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
        <div class= " col-md-10 col-sm-12 p-0 border-left">
            
            {{#if chat}}
                <div class="row m-0 p-0  text-bold align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom bg-white">
                <div class="col-6">
                    <div class="w-fit-content float-left">
                        <img src="https://github.com/mdo.png" alt="" width="60" height="60" class="rounded-circle me-3 d-block">
                        <div class="active-circle"></div>
                    </div>

                    <div class="float-left">
                        <span class="fs-5 fw-semibold d-block">{{chat.name}}</span>
                        {{#if false}}
                            <span class="d-block text-muted font-size-small mb-2">Active now</span>
                        {{else}}
                            <span class="d-block text-muted font-size-small mb-2 mx-1">active 2 hours ago</span>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div>

            </div>
            <div class="message-form-container d-flex justify-content-center">
                <input type="text" id="message-input" placeholder="message ..." class=" message-input">
                <span onclick="sendMessage('{{chat._id}}', '{{user.username}}')" class="butn"><i class="lar la-paper-plane"></i></span>
            </div>

            {{/if}}

        </div>
    </div>
</div> --}}
<section style="background-color: #eee;">
  <div class="container-fluid py-5">

    <div class="row">

      <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

        <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>

        <div class="card">
          <div class="card-body">

            <ul class="list-unstyled mb-0">
            {{#each chats as |chat|}}
                <li class="p-2 border-bottom" style="background-color: #eee;">
                    <a href="/chat/{{chat._id}}" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                        <div class="pt-1">
                        <p class="fw-bold mb-0">{{chat.name}}</p>
                        <p class="small text-muted">Hello, Are you there?</p>
                        </div>
                    </div>
                    <div class="pt-1">
                        <p class="small text-muted mb-1">Just now</p>
                        <span class="badge bg-danger float-end">1</span>
                    </div>
                    </a>
                </li>
            {{/each}}

            </ul>

          </div>
        </div>

      </div>
        {{#if chat }}
      <div class="col-md-6 col-lg-7 col-xl-8">

        <ul class="list-unstyled" id="messages-list">

          {{#each messages as |message|}}
            {{#if is_sender}}
              <li class="d-flex justify-content-between mb-4">
                <div class="card w-100">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">{{message.sender_username}}</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> {{message.datetime}}</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      {{message.message}}
                    </p>
                  </div>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
              </li>
            {{else}}
              <li class="d-flex justify-content-between mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                  class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                <div class="card">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">{{message.sender_username}}</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i>  {{message.datetime}}</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      {{message.message}}
                    </p>
                  </div>
                </div>
              </li>
            {{/if}}
          {{/each}}

          
          
          

        </ul>
          <div class="bg-white mb-3">
            <div class="form-outline">
              <textarea id="message-input" class="form-control" rows="4"></textarea>
              <label class="form-label" for="textAreaExample2">Message</label>
            </div>
          </div>
          <button onclick="sendMessage('{{chat._id}}', '{{user.username}}')"  class="btn btn-info btn-rounded float-end">Send</button>

      </div>
      {{/if}}

    </div>

  </div>
</section>